* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.clearfix {
  overflow: auto;
}
textarea {
  width: 100%;
}
.small-height {
  height: 40px;
}
.large-height {
  height: 250px;
}
.btn-solid-green {
  background-color: #aef292;
  border: solid 1px #6ae737;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.btn-solid-green:hover {
  background-color: #c9f6b6;
}
.btn-solid-green:disabled {
  background-color: #c9f6b6;
  border-color: #e1fad6;
  cursor: arrow;
}
.btn-solid-green:active {
  -webkit-box-shadow: inset 0 0 5px #000;
  -moz-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
}
.btn-solid-red {
  background-color: #ed564f;
  border: solid 1px #c21c14;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.btn-solid-red:hover {
  background-color: #f17a74;
}
.btn-solid-red:disabled {
  background-color: #f17a74;
  border-color: #f49994;
  cursor: arrow;
}
.btn-solid-red:active {
  -webkit-box-shadow: inset 0 0 5px #000;
  -moz-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
}
.btn-solid-blue {
  background-color: #4f9ded;
  border: solid 1px #146ac2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.btn-solid-blue:hover {
  background-color: #74b2f1;
}
.btn-solid-blue:disabled {
  background-color: #74b2f1;
  border-color: #94c4f4;
  cursor: arrow;
}
.btn-solid-blue:active {
  -webkit-box-shadow: inset 0 0 5px #000;
  -moz-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
}
